.graph {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
}

.toolbar {
  width: 54px;
  background: #fff;
  box-shadow: 0px 0 4px rgba(0, 0, 0, 0.3);
}

.tool {
  color: #202020;
  margin: 15px;
  padding: 0px;
  border-width: 0px;
  background: transparent;
}

.birb {
  text-align: center;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 100px;
}

.innerGraph {
  flex-grow: 1;
}

h1 {
    font-weight: 300;
    font-size: 2em;
    padding: 1rem 2rem;
    position: absolute;
}

pre {
    background: #eee;
    border-radius: 4px;
    margin: 2rem;
    padding: 1rem 2rem;
}

.dialog {
  position: absolute;
  left: 60px;
  top: 200px;
  padding: 30px;
  height: 200px;
  width: 400px;
  background-color: #eee;
  border-color: aqua;
  border-width: 10px;
}
