.sidebar {
    width: 350px;
    flex-shrink: 0;
    padding: 30px;
    box-shadow: 0px 0 4px rgba(0, 0, 0, 0.3);
    height: 100%;
}

.nodeid {
    overflow: hidden;
    font-family: monospace;
}

.nodisplay {
    display: none;
}

.nodetitle {
    font-size: 2em;
    font-weight: 400;
    margin-top: 0;
}

.heading {
  font-size: 1.25em;
  font-weight: 500;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius:25px;
  background-color: #a123a1;
  display: inline-block;
  text-align: center;
}