.iok-text {
    padding: 10%;
    height: 90vh;
    width: 100%;
    margin: 0%;
    /* position: absolute;
    left: 0;
    top: 0;
    z-index: 999; */
}

.hr-sep {
    /* since width not supported in html5 */
    border-top: 4px solid black;
}