.iok-text {
    padding: 10%;
    height: 90vh;
    width: 100%;
    margin: 0%;
    /* position: absolute;
    left: 0;
    top: 0;
    z-index: 999; */
}

.breaking{    
    word-wrap: break-word;
}

.edit-div {
    padding-top: 10px;
}

.misc-div {
    padding-top: 10px;
}

.hr-sep {
    /* since width not supported in html5 */
    border-top: 4px solid #f8be35;
}

.btn.btn-info.btn-lg.btn-save {
    background-color: #75b5aa !important;
    border-color: #75b5aa !important;
}

.btn.btn-info.btn-lg.btn-util {
    background-color: #a9a8a8 !important; 
    border-color: #a9a8a8 !important;
}

.btn.btn-info.btn-lg.btn-delete {
    background-color: #E8747C !important;
    border-color: #E8747C !important;
}

.btn.btn-info.btn-lg.btn-save:hover, 
.btn.btn-info.btn-lg.btn-delete:hover,
.btn.btn-info.btn-lg.btn-util:hover,
.btn.btn-info.btn-lg.btn-save:focus, 
.btn.btn-info.btn-lg.btn-delete:focus,
.btn.btn-info.btn-lg.btn-util:focus,
.btn.btn-info.btn-lg.btn-save:active, 
.btn.btn-info.btn-lg.btn-delete:active,
.btn.btn-info.btn-lg.btn-util:active {
    opacity: 0.5;
    border-color: #f8be35;
    outline:0;
}

