.iok-text {
    padding: 10%;
    height: 90vh;
    width: 100%;
    margin: 0%;
    /* position: absolute;
    left: 0;
    top: 0;
    z-index: 999; */
}

.hr-sep {
    /* since width not supported in html5 */
    border-top: 4px solid black;
}

.btn.btn-info.btn-lg.btn-save {
    background-color: green;
    border-color: green
}

.btn.btn-info.btn-lg.btn-delete {
    background-color: red;
    border-color: red;
}