.SignedIn {
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

.nav-parent {
    position:relative;
}

.graph-parent {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 2rem;
    background-color: aquamarine;
}

.split-parent {
    height: 100%;
    width: 100%;
    margin: 0%;
    position:relative;
    margin-top: 5rem;
    box-sizing: border-box;
    background-color: #F6F6F6;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.text {
  padding: 5%;
  background-color: #F6F6F6;
}

.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: black;
    height: 1000px;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    height: 1000px;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 1000px;
    float: left;
}
