.SignedIn {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.hidden-msg {
    padding: 10px;
    position: absolute;
}

.btn.btn-info.btn-lg.btn-util {
    background-color: #a9a8a8 !important; 
    border-color: #a9a8a8 !important;
}

.cy-overlay {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
}

/* ugly for debugging :) */
.graph-parent {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 2rem;
    background-color: aquamarine;
}

.split-parent {
    height: 100%;
    width: 100%;
    margin: 0%;
    box-sizing: border-box;
    margin-top: 5rem;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    height: 100%;
    width: 100%;
}

.text {
  padding: 5%;
}

.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #f8be35;
    height: 1000px;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    height: 1000px;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    float: left;
    background-color: #4a4d5d;
}

.split.split-horizontal.cy {
    background-color: white;
}
