.SignedIn {
    height: 90vh;
    width: 100%;
    margin: 0;
}

.nav-parent {
    position:relative;
}

.hidden-msg {
    padding: 10px;
    position: absolute;
}

/* ugly for debugging :) */
.graph-parent {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 2rem;
    background-color: aquamarine;
}

.split-parent {
    height: 100%;
    width: 100%;
    margin: 0%;
    position:relative;
    margin-top: 5rem;
    box-sizing: border-box;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    height: 100%;
    width: 100%;
}

.text {
  padding: 5%;
}

.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #f8be35;
    height: 1000px;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    height: 1000px;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    float: left;
    background-color: #4a4d5d;
}

.split.split-horizontal.cy {
    background-color: white;
}
