<!DOCTYPE>

<html>

  <head>
    <title>cytoscape-dagre.js demo</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
   
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/iok.css') }}"/>

    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.11/split.min.js"></script>

  </head>

  <body>

    <div id="left" class="split split-horizontal">
        <div id="cy" class="split content">
        </div>
    </div>
    <div id="right" class="split split-horizontal">
        <div id="cytext" class="split text content">
            <div>
                <h1>Index of Knowledge</h3>
                <h2 id="nodetitle">Overview</h5>
        
                <div>
                  <h3>Description</h3>
                  <p id="nodetext">
                      placeholder text
                  </p>
                </div>
        
                <div>
                  <!-- TODO: granularity about link/resource type -->
                  <h3>Links</h3>
                  <ul id="nodelinks">
                      <li><a href=".">placeholder link</a></li>
                  </ul>
                </div>

                <div>
                  <!-- TODO: granularity about link/resource type -->
                  <h3>Dependencies</h3>
                  <ul id="nodedeps">
                      <li>placeholder dep</li>
                  </ul>
                </div>

                <div>
                  <h3>Misc IoK</h3>
                  <button onclick="toggleMeta()">Toggle meta graph</button>
                </div>
          
              </div>
            </div>
        </div>
    </div>
    
  </body>

  <script>
    Split(['#left', '#right'], {
        gutterSize: 8,
        cursor: 'col-resize'
    })
  </script>

  <script src="{{ url_for('static', filename='js/iok.js') }}"></script>
  <script src="{{ url_for('static', filename='js/listen.js') }}"></script>

</html>